<!-- <div class="col-md-6 offset-md-3">
  <h1 class="text-center">SignUP here</h1>
  <hr /> -->
  <!-- <img class="login-image" src="../../assets/images/login.png" /> -->
<!--
  <br />

  <amexio-form [formGroup]="loginForm" [header]="true" class="login-form">
    <amexio-form-header>SignUp form</amexio-form-header>
    <amexio-form-body>
      <amexio-row>
        <amexio-column size="8">
          <amexio-text-input
            formControlName="userName"
            [field-label]="'User Name'"
            [allow-blank]="false"
            [error-msg]="'Please enter user name'"
            [enable-popover]="true"
            [place-holder]="'Please enter user name'"
            [icon-feedback]="false"
          >
          </amexio-text-input>

          <amexio-password-input
            formControlName="password"
            name="passwo"
            [field-label]="'Password'"
            [allow-blank]="false"
            [error-msg]="'Please enter password'"
            [enable-popover]="true"
            [place-holder]="'Please enter password'"
            [icon-feedback]="false"
          >
          </amexio-password-input>
        </amexio-column>
      </amexio-row>
    </amexio-form-body>
    <amexio-form-action>
      <amexio-button
        (onClick)="onClickLogin()"
        [disabled]="!loginForm.valid"
        [label]="'Login'"
        [type]="'theme-color'"
        [tooltip]="'toolTip'"
        [icon]="'icon'"
        [disabled]="false"
        [form-bind]="'form-bind'"
        [size]="'small'"
        [loading]="false"
        [block]="false"
      >
      </amexio-button>
    </amexio-form-action>
  </amexio-form>
</div> -->
<!--
<div *ngIf="isLoginSuccessful">
  <router-outlet></router-outlet>
</div> -->

<br><br><br>
<h1>SignUp</h1>
<router-outlet></router-outlet>
